{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <aside class="menu">
          <ul class="menu-list">
            <li>
              <a href="#">General</a>
              <a href="#">Test data</a>
            </li>
          </ul>
        </aside>
      </div>
      <div class="column is-9">
        {% for message in get_flashed_messages() %}
          <div class="message is-success">
            <div class="message-body">{{ message }}</div>
          </div>
        {% endfor %}
        <form action="{{url_for('update_config')}}" method="post">
          <div class="field">
            <label class="label">Competition Name</label>
            <div class="control">
              <input class="input" type="text" name="name" value="{{compe.name}}">
            </div>
          </div>
          <div class="field">
            <label class="label">Private Leaderboard Access</label>
            <div class="control">
              <label class="radio">
                <input type="radio" name="disclose_private" value='true' {% if compe.disclose_private %}checked{% endif %}>
                All Competitiors
              </label>
              <label class="radio">
            </div>
            <input type="radio" name="disclose_private" value='false' {% if not compe.disclose_private %}checked{% endif %}>
            Only Admin
              </label>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
            <div class="control">
              <button class="button is-text" type="button">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
{% endblock %}
