<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} - {{ compe.name }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar">
      <div id="pagetopNav" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ url_for('index') }}">Public</a>
          <a class="navbar-item" href="{{ url_for('private') }}">Private</a>
          <a class="navbar-item" href="{{ url_for('submit') }}">Submit</a>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {% if session['logged_in'] %}
              <a class="button is-primary" href="{{ url_for('admin_general') }}">Admin</a>
              <a class="button is-light" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
              <a class="button is-light" href="{{ url_for('login') }}">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">{{ compe.name }}</h1>
          <h2 class="subtitle">{{ title }}</h2>
        </div>
      </div>
    </section>
    <section class="section">
      {% block body %}{% endblock %}
    </section>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </body>
</html>
