{% extends "layout.html" %}
{% block title %}{{title}} - {{competition_name}}{% endblock %}
{% block body %}
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Public</th>
          <th>Private</th>
        </tr>
      </thead>
      <tbody>
        {% for user in scores %}
          <tr>
            <th>{{ loop.index }}</th>
            <td>{{ user.name }}</td>
            <td>{{ '{:.3f}'.format(user.public) }}</td>
          <td>{% if private %}{{ '{:.3f}'.format(user.private) }}{% else %}--{% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

