{% extends "layout.html" %}
{% block title %}{{title}} - {{competition_name}}{% endblock %}
{% block body %}
  <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">{{ competition_name }}</h1>
          <h2 class="subtitle">{{ title }}</h2>
        </div>
      </div>
    </section>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Public</th>
            <th>Private</th>
          </tr>
        </thead>
        <tbody>
          {% for user in scores %}
            <tr>
              <th>{{ loop.index }}</th>
              <td>{{ user.name }}</td>
              <td>{{ '{:.3f}'.format(user.public) }}</td>
            <td>{% if private %}{{ '{:.3f}'.format(user.private) }}{% else %}--{% endif %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}

